.popup__button-submit {
	margin: 0px 36px 37px;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 2px;
	align-self: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	opacity: 1;
	transition: opacity 1s ease;
}

.popup__button-submit:hover {
	opacity: .8;
}

@media screen and (max-width: 540px) {
	.popup__button-submit {
		margin: 0px 22px 25px;
		padding: 14px 82px;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}
}