.authorize__link {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: .1s ease-in-out;
}

.authorize__link:hover {
    opacity: 0.6;
    cursor: pointer;
}