.profile__block {
    display: grid;
    grid-template-columns: 1fr 24px;
    column-gap: 24px;
    row-gap: 8px;
    padding-left: 30px;
    align-self: center;
}

@media screen and (max-width: 620px) {
    .profile__block {
        padding-top: 28px;
        column-gap: 10px;
    }
}