.profile {
	width: 100%;
	max-width: 880px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

@media screen and (max-width: 920px) {
	.profile {
		padding: 0 19px;
	}
}

@media screen and (max-width: 699px) {
	.profile {
		flex-direction: column;
	}
}