.profile__button-avatar {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	transform: translate3d(-50%, -50%, 0);
	background-image: url(../../../images/pen.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;
	background-color: #000;
	opacity: .8;
	z-index: -1;
}