.popup__input-error {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: red;
	margin: 0 36px 28px;
	opacity: 0;
	height: 0;
}

.popup__input-error:last-of-type {
	margin-bottom: 31px;
}